---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import {stories} from "../data/stories.json"
// const stories = [
//     // ... (keep the entire stories array as is)
// ];

const linkStyle = {
    textDecoration: "none",
    borderBottom: "dotted 1px",
    flexShrink: 1
};

const spacerChar = "◇";
---

<Layout>
    <main class="flex-l">
        <div class="w-30-l w-100 db">
            <p class="sans-serif f5 lh-copy">
                Seth is an engineer, director and journalist with 15+ years experience creating award winning web interactives and impactful products. Currently, he works as a Staff Engineer at Medallia, focused on new generative AI products. He is excited to apply his technical skills at the intersection of emerging technology and user interaction.
            </p>
            <div class="">
                <h5 class="sans-serif f5 mt1 mb1">Contact</h5>
                <a class="normal dib mb1 mr3 sans-serif f6 lh-copy" style={linkStyle} href="http://twitter.com/sethblanchard">@SethBlanchard</a>
                <a class="normal dib sans-serif f6 lh-copy" style={linkStyle} href="mailto:blanchard.seth@gmail.com">blanchard.seth@gmail.com</a>
            </div>
        </div>
        <section class="w-70-l w-100 db pl5-l mt0-l mt4 mb5">
            <h3 class="serif f2 di mt1 mb1 pa1 o-60">Selected Projects: </h3>
            {stories.map((storyData, index) => (
                <>
                    {index > 0 && <span class="dib mt1 mb1 pt2 pb2 ml2 mr2 f3">{spacerChar}</span>}
                    <h3 class="serif f2 di mt1 mb1">
                        <a 
                            href={`./${storyData.link}`}
                            style={{
                                color: "#e9585d",
                                borderBottom: "1px dotted",
                                cursor: "pointer",
                                textDecoration: "none",
                            }}
                        >
                            {storyData.short_title}
                        </a>
                    </h3>
                </>
            ))}
        </section>
    </main>
</Layout>